* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --font-weight: 700;
}

/* header part*/

.gogocontainer {

    width: 100vw;


    display: flex;
    justify-content: center;
}

.navcontainer {
    max-width: 1180px;
    width: 100%;


}

nav {
    display: flex;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.navleft,
.list {

    display: flex;
    flex-direction: row;
    gap: 20px;

}

.navleft {
    font-weight: var(--font-weight);

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar {
    cursor: pointer;
}


.menu {

    display: flex;
    text-align: center;
    gap: 10px;
    cursor: pointer;

}

.navright {

    display: flex;
    gap: 30px;


    align-items: center;
    justify-content: center;

}

.numberscontainer {
    display: flex;
    gap: 10px;
}

#navrightparts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.medeedropdown,
.bulandropdown,
.uzehdropdown,
.hevmayagdropdown {
    display: flex;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 35px;
    left: -10px;
    background-color: #fff;
    box-shadow: 0 5px 22px rgba(0, 0, 0, .15);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    text-align: start;
    opacity: 0;



}

.weatherdropdown {
    display: flex;

    border: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    top: 55px;
    right: -10px;
    background-color: #fff;
    box-shadow: 0 5px 22px rgba(0, 0, 0, .15);
    border-radius: 5px;
    text-align: center;
    background-color: grey;
    color: #fff;
    opacity: 0;
    transition: 0.2s linear;
    padding: 10px;
    font-size: small;

}

.weather {
    position: relative;
}


.submenu li {
    display: flex;


}

.submenu ul {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 110px;




}

#medee,
#bulan,
#uzeh,
#hevmayag {

    position: relative;
}






/* header part*/

/* header hover*/

#medee:hover .medeedropdown {
    opacity: 1;
    display: flex;
}

#bulan:hover .bulandropdown {
    opacity: 1;
    display: flex;
}

#uzeh:hover .uzehdropdown {
    opacity: 1;
    display: flex;
}

#hevmayag:hover .hevmayagdropdown {
    opacity: 1;
    display: flex;
}

.weather:hover .weatherdropdown {
    opacity: 1;
    display: flex;
}

.submenu li:hover {
    transition: 0.3s ease-in-out;
    color: blue;
    transform: translateX(3px);

}


/* header hover*/






/* main part*/
/*section1*/
.maincontainer {
    border: 2px solid blue;
    max-width: 1180px;
    width: 100%;

    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section1 {
    display: flex;
    justify-content: space-between;

}

.article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border-radius: 10px;



}

.article h1 {
    font-weight: var(--font-weight);
    font-size: 26px;


}

.article p {
    color: #c6c6c6;
    font-size: 13px;

}

#biznesbutton {
    font-size: 12px;
    border: none;
    background: linear-gradient(129deg, #c40097, #d6710b);
    font-weight: var(--font-weight);
    border-radius: 100px;
    width: 70px;
    color: white;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#biznesbutton:hover {
    width: 80px;
}

.articleimg {
    display: flex;
    height: 385px;

}

#sharebutton button {
    color: #c6c6c6;
    border-radius: 100px;
    border: none;
    font-weight: 900;
    padding: 5px 10px;
}

/*section1*/


/*section2*/
.article1 img {
    width: 264px;
    height: 175px;
    border-radius: 8px;
}

.article1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section2 {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;
    background: linear-gradient (180deg, #fff, #f7f7f7)
}

.article5 img {
    border-radius: 8px;
}

.articletxt {
    font-size: 14px;
    font-weight: 600;
}

.shareandcomment {
    color: #c6c6c6;
    font-size: 13px;
    display: flex;
    gap: 10px;
}

.buttonimages {
    position: relative;


}

.article5 {
    position: relative;
}

.buttonimages img {
    position: absolute;

    width: 263px;
    height: 260px;
}

.buttons {
    position: absolute;
    bottom: 8px;
    right: 25px;


}

.buttons button {
    background-color: turquoise;
    height: 6px;
    width: 3px;


}

/*section2*/

/*gogo story*/
.gogostory {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.bluetext {
    color: #fff;
    background-color: #00b0f4;
    border-radius: 3px;
    padding: 2px 3px;
}

.stories {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px 235px;
    gap: 13px;
    overflow-x: scroll;

}

.story {
    padding: 10px;
    display: flex;


    flex-direction: column;
    justify-content: end;
    gap: 10px;
    position: relative;
}

#story1 {
    background-image: url(gogostory1.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story2 {
    background-image: url(gogostory2.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story3 {
    background-image: url(gogostory3.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story4 {
    background-image: url(gogostory5.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story5 {
    background-image: url(gogostory6.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story6 {
    background-image: url(gogostory7.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story7 {
    background-image: url(gogostory8.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story8 {
    background-image: url(gogostory7.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story9 {
    background-image: url(gogostory9.jpeg);
    background-size: cover;
    border-radius: 8px;
}

#story10 {
    background-image: url(gogostory10.jpeg);
    background-size: cover;
    border-radius: 8px;
}

.storytext {
    color: #fff;
    font-size: 13px;
    font-weight: 500;

    width: 150px;
    height: 37px;
    overflow: hidden;
}

.views {
    font-size: 12px;
    color: #fff;
    display: flex;
    gap: 5px;
}

.storytext:hover {
    overflow: visible;
    transform: translateY(-40px);
    transition: 0.5s ease-in-out;

}

.gogologo img {
    width: 30px;
    height: 30px;
}

.gogologo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;

}




/*gogo story*/






/* main part*/